:root {
    --map-width: 80%;
    --map-height: 500px;
    --map-max-height: 250px;
    --map-h-margin: 20px;
    --links-font-size: 12px;
    --links-letter-space: 0px;
}

html,
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
.map {
    width: var(--map-width);
    height: var(--map-height);
    margin: var(--map-h-margin) auto;
}

.leaflet-search-control-info {
    max-height: var(--map-max-height);
    overflow-y: scroll;
}

small a,
small span {
    font-size: var(--links-font-size);
    text-decoration: none;
    letter-spacing: var(--links-letter-space);
    text-transform: uppercase;
}

footer {
    width: 100vw;
    height: 100px;
}
.leaflet-search-wrap {
    z-index: 802;
}
.custom-style {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    --icon-width: 26px !important;
    --icon-height: 26px !important;
    --active-height: 40px !important;
    --close-button-max-size: 12px !important;
    --icon-button-max-size: 18px !important;
    --primary-color: #000000 !important;
    --secondary-color: rgba(141, 141, 141, 0.639) !important;
    --border-color: rgba(0, 0, 0, 0.2) !important;
    --border-size: 0px !important;
    --main-background-color: #ffffff !important;
    --background-color-candidate: #5a6673 !important;
    --background-color-hover: #5a6673b3 !important;
    --background-color-active: #50c3bd !important;
    --svg-stroke-width: 5px !important;
}
